.textfield{
  -fx-background-color: transparent;
  -fx-border-color:  #0dacba;
  -fx-border-width: 0px 0px .4px 0px;
}

.textfield:focused{
  -fx-border-color:#000000;
  -fx-border-width: 0px 0px 1px 0px;
}

.combo-box{
  -fx-background-color: transparent;
  -fx-border-color:  #363a42;
  -fx-border-width: 0px 0px .4px 0px;
}

.side-btn {
  -fx-background-color: transparent;
  -fx-border-radius: 3px; /* Округлені кути */
  -fx-alignment: CENTER; /* Вирівнювання тексту */
  -fx-padding: 0 10px 0 10px; /* Відступи для розміщення тексту зліва */
}

.side-btn:hover {
  -fx-background-color: rgba(255, 255, 255, 0.2); /* Прозорий колір фону при наведенні */
  -fx-cursor: hand;
}


.close-button {
  -fx-background-color: transparent; /* Колір фону кнопки */
  -fx-cursor: hand;
}

.close-button:hover {
  -fx-background-color: #ff0000; /* Колір фону кнопки при наведенні */
}

/* Стиль кнопки для згортання */
.minimize-button {
  -fx-background-color: transparent;
  -fx-cursor: hand;
}

.minimize-button:hover {
  -fx-background-color: rgba(255, 255, 255, 0.2); /* Прозорий колір фону при наведенні */
}

.table-view {
  -fx-background-color: transparent;
  -fx-border-color: linear-gradient(to bottom, #363a42, #424b4b);
  -fx-text-fill:  #0dacba;
  -fx-border-width: 2px;
  -fx-border-radius: 8px;
  -fx-padding: 0;
}

.table-view .column-header-background {
  -fx-background-color: rgba(255, 255, 255, 0.2);
  -fx-background-radius: 8px 8px 0 0;
  -fx-background-insets: 0 0 0 0;
}

.table-view .column-header, .filter {
  -fx-background-color: #363a42;
  -fx-size: 50px;
}
.table-view .column-header .label{
  -fx-text-fill:#fff;
  -fx-font-family:"Georgia";
}
.label-title {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-padding: 10px 0; /* Додає відстань між заголовком і текстом */
}

.card {
  -fx-background-color: white;
  -fx-border-color: white;
  -fx-background-radius: 16px;
  -fx-border-radius: 16px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 4);
  -fx-wrap-text: true; /* Автоматичне перенесення тексту */
  -fx-cursor: hand;
}
.date-time-picker {
  -fx-background-color: transparent; /* Колір фону */
  -fx-border-color: #363a42; /* Колір рамки */
  -fx-border-width: 1px; /* Ширина рамки */
}